! Include theme
#include ".base16.xresources"

! -----------------------------------------------------------------------------
!  Theme colours
! -----------------------------------------------------------------------------

! Menu & titlebar colours
*ina_txt:                     #eeeeee
*act_txt:                     #ffffff

! -----------------------------------------------------------------------------
!  rxvt-unicode settings
! -----------------------------------------------------------------------------

! General
URxvt*loginShell:             false
URxvt*cursorBlink:            true
URxvt*pointerBlank:           true
URxvt*cursorUnderline:        false
URxvt*reverseVideo:           false
URxvt*saveLines:              8192
URxvt*visualBell:             true
URxvt*intensityStyles:        true

! Scrolling
URxvt*scrollTtyKeypress:      true
URxvt*scrollTtyOutput:        false
URxvt*scrollWithBuffer:       true
URxvt*skipScroll:             true
URxvt*scrollBar:              false

! Scroll inside pager (less, more) without scrolling urxvt, but the pager
URxvt*secondaryScreen:        true
URxvt*secondaryScroll:        false

! Border
URxvt*borderLess:             false
URxvt*externalBorder:         0
URxvt*internalBorder:         5

! Fonts
Xft.antialias:                true
Xft.hinting:                  true
Xft.rgba:                     none
Xft.autohint:                 false
Xft.hintstyle:                hintslight
Xft.lcdfilter:                lcddefault
URxvt*font:                   xft:Hack Nerd Font:size=12
URxvt*boldFont:               xft:Hack Nerd Font:Bold:size=12
URxvt*letterSpace:            -1

! Disable perl
URxvt*perl-ext:
URxvt*perl-ext-common:
