! Include base16 theme
#include ".config/xresources/gruvbox-dark.xresources"
! #include ".config/xresources/gruvbox-light.xresources"
! #include ".config/xresources/nord.xresources"

! Theme colours
*thmBG:                       #2f343f
*thmFG:                       #cfdae7
*selBG:                       #5294e2
*selFG:                       #ffffff
*bordr:                       #dcdfe3
*thmOra:                      #F27835
*thmRed:                      #FC4138
*thmGrn:                      #73d216
*thmGry:                      #676E7D
*link:                        #2679db

*thmBase:                     #404552
*thmText:                     #D3DAE3
*thmBackground:               #383C4A
*thmForeground:               #D3DAE3
*thmSelFG:                    #ffffff
*thmSelBG:                    #5294e2
*thmWarning:                  #F27835
*thmError:                    #FC4138
*thmSuccess:                  #73d216



! -----------------------------------------------------------------------------
! >> rxvt-unicode settings
! -----------------------------------------------------------------------------

! General
URxvt*loginShell:             false
URxvt*cursorBlink:            true
URxvt*pointerBlank:           true
URxvt*cursorUnderline:        false
URxvt*reverseVideo:           false
URxvt*saveLines:              8192
URxvt*visualBell:             true
URxvt*intensityStyles:        true

! Scrolling
URxvt*scrollTtyKeypress:      true
URxvt*scrollTtyOutput:        false
URxvt*scrollWithBuffer:       true
URxvt*skipScroll:             true
URxvt*scrollBar:              false

! Scroll inside pager (less, more) without scrolling urxvt, but the pager
URxvt*secondaryScreen:        true
URxvt*secondaryScroll:        false

! Border
URxvt*borderLess:             false
URxvt*externalBorder:         0
URxvt*internalBorder:         5

! Fonts
Xft.dpi:                      96
Xft.antialias:                true
Xft.hinting:                  true
Xft.rgba:                     rgb
Xft.autohint:                 false
Xft.hintstyle:                hintslight
Xft.lcdfilter:                lcddefault
URxvt*font:                   xft:Hack:size=10
URxvt*boldFont:               xft:Hack:Bold:size=10
URxvt*letterSpace:            -2

! Disable perl
URxvt*perl-ext:
URxvt*perl-ext-common:
